body {
    background: #E6E6E6;
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes fadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#navHeader.hidden {
    animation: fadeout 0.5s linear;
    opacity: 0;
}

#navHeader.visible {
    animation: fadein 0.5s linear;
    opacity: 1;
}

header {
    position: sticky;
    background: #FFF;
    display: flex;
    justify-content: left;
}

.navHeaderLeft {
    margin: 3rem 0 2rem 2rem;
}

.navHeaderLeft a {
    border-radius: 3px;
    padding: 1.2rem;
    background: black;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
}

.navHeaderRight {
}

.navigation {
    display: flex;
    justify-content: left;
    margin: 0;
}

.navigation li {
    list-style: none;
}

.navigation a {
    margin: 3rem 2rem 2rem 2rem;
    border-radius: 3px;
    display: block;
    font-weight: bold;
    font-size: 1rem;
    text-decoration: none;
    color: #000;
}

.main {
    display: grid;
    grid-template-areas:
        "a a b"
        "a a b"
        "a a c";
    align-items: start;
}

.item1 {
    grid-area: a;
}

.item2 {
    grid-area: b;
}

.item3 {
    grid-area: c;
}

.main section {
    margin: 2rem;
    border-radius: 3px;
    background: #fff;
    padding: 2rem;
}

.main h1 {
    color: #4e4e4e;
    font-size: 1.6em;
}

.main p {
    margin-top: 2rem;
}
